body {
  font: 12px sans-serif;
}
.tick > line {
	fill: none;
	stroke: black;
}
.tick > text {
	fill: black;
}
.detail-selected {
	stroke: red;
	fill:red;
}

path.domain {
	fill: none;
	stroke-width: 2px;
	stroke: black;
}
#wrapper {
	clear:both;
}
#chart {
	float:left;
}

.label {
  fill: black;
  font-size: 12px;
}

strong {
	margin-right: 5px;
}

.modal {
	display: none; /* Hidden by default */
	overflow: auto; /* Enable scroll if needed */
	max-height: 500px;
	bottom: 0;
	right: 0;
	margin-right: 20px;
}

.content {
	bottom: 0;
	background-color: #fefefe;
	margin-top: 28px;
}

/* The Close Button */
.close {
	color: red;
	float: left;
	font-size: 24px;
	background-color: #fefefe;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;				
    padding: 2px;				
	font: 12px sans-serif;
	font-weight: bold;		
    background: lightblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
}

button {
	border-radius: 12px;
	padding: 6px 16px;
  	text-align: center;
  	cursor: pointer;
  	-webkit-transition-duration: 0.4s; /* Safari */
  	transition-duration: 0.4s;
}

button:hover {
	background-color: #808080;
}

button:focus {
	outline:0;
}

hr {
    max-width: 30%;
    margin-left: 0px;
}

#filters {
	display: inline-block;
	margin-right: 20px;
	vertical-align: top;
}

/* Add spacing between Control and Region Filter */
#ControlDiv {
	padding-bottom: 15px;
}